.mediabank {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 10px 10px 10px;
    border: $border;
    border-top: none;
    border-radius: 0 0 4px 4px;
  }

  &-form {
    display: flex;
    justify-content: space-between;

    &__displayed-image {
      max-height: 300px;
      max-width: 100%;
    }

    &__section {
      max-width: 400px;

      &--add {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      &--remove {
        display: none;
        align-self: flex-end;

        button {
          display: flex;
          gap: 5px;
          align-items: center;

          .icon {
            height: 20px;
            width: 20px;
          }
        }

        &[aria-hidden="false"] {
          display: block;
        }
      }
    }

    &__button {
      border: none;
    }

    &__file {
      max-width: 300px;
      width: 100%;

      &-remove {
        cursor: pointer;
        display: none;
        height: 40px;
        aspect-ratio: 1/1;
        background: $prim-color;
        align-items: center;
        justify-content: center;
      }

      &::file-selector-button {
        background-color: $prim-color;
        color: currentColor;
        border: none;
        padding: 10px 15px;
        margin-right: 20px;
        transition: $transition-settings;
        cursor: pointer;
        font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
      }

      &::file-selector-button:hover {
        background-color: $hover-color;
      }
    }

    &__filename {
      display: none;
      flex-direction: column;
      align-items: baseline;
      margin-top: 20px;
      gap: 10px;

      &[aria-hidden="false"] {
        display: flex;
      }

      &-input {
        width: 100%;
        padding: 10px;
      }
    }

    // &__display
  }
}
