.page {
  @include padding-lay-out;
  max-width: $max-page-width;
  margin: auto;

  &--form {
    position: relative;
    padding: unset;
    margin: unset;
    max-width: unset;
  }

  &--sidebar {
    padding: 0 20px;

    .content {
      display: flex;
      gap: 120px;

      &__sidebar {
        order: -1;
      }
    }
  }
}
