<header class="header header--admin">
    <% if (typeof user != "undefined") { %>
     <p><%= user?.name %></p>
    <% } %>
    
    <a href="/" class="cta" style="margin:0 10px 0 auto;">
        Site bekijken
    </a>

    
    <form action="/logout?_method=DELETE" method="POST">
        <button class="cta" type="submit">Log out →</button>
    </form>
</header>