<header class="header">
    <a href="/">
        <%- include('../components/logo/logo', {size: "small"}); %>
    </a>
    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__list-item nav__list-item--active"><a href="/#top">Home</a></li>
            <li class="nav__list-item"><a href="/#westerkracht">Wij zijn westerkracht</a></li>
            <li class="nav__list-item"><a href="/#coaches">De coaches</a></li>
            <li class="nav__list-item"><a href="/contact">Contact</a></li>
            <li class="nav__list-item"><a href="/inschrijven" class=" cta cta--small">Schrijf je in</a></li>
        </ul>
    </nav>
</header>