<header class="header">
    <a href="/">
        <%- include('../components/logo/logo'); %>
    </a>
    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__list-item">HOME</li>
            <li class="nav__list-item">WIJ ZIJN WESTERKRACH</li>
            <li class="nav__list-item">DE COACHES</li>
            <li class="nav__list-item">CONTACT</li>
            <li class="nav__list-item cta">INSCHRIJVEN</li>
        </ul>
    </nav>
</header>