<header class="header">
        <a href="/">
            <%- include('../components/logo/logo'); %>
        </a>

        <a href="/admin" class="cta">
            Terug naar admin
        </a>

        <a href="/" class="cta">
            Site bekijken
        </a>

        <button>
            Log uit -> werkt niet
        </button>
</header>