.content {
  &__section {
    scroll-margin-top: 69px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 42px 0;

    &--coaches {
      @include fullwidth;
      position: relative;
      background-color: $grey-color;

      .infoblokken {
        @include padding-lay-out;
        max-width: $max-page-width;
        margin: auto;
      }
    }

    &--inschrijven {
      align-items: baseline;
      gap: 30px;

      section {
        display: flex;
        gap: 15px;
        align-items: center;

        .logo {
          color: $prim-color;
        }
      }

      p {
        max-width: 550px;
      }
    }
  }
}
