.content {
  &__section {
    @include responsive(gap, 20px, 20px, 30px, 30px);
    @include responsive(padding, 30px 0, 40px 0, 50px 0);
    scroll-margin-top: 69px;
    display: flex;
    flex-direction: column;

    &--coaches {
      @include fullwidth;
      position: relative;
      background-color: $grey-color;

      .infoblokken {
        @include padding-lay-out;
        max-width: $max-page-width;
        margin: auto;
      }
    }

    &--inschrijven {
      align-items: baseline;

      section {
        display: flex;
        gap: 15px;
        align-items: center;

        .logo {
          color: $prim-color;
        }
      }

      p {
        max-width: 550px;
      }
    }
  }
}
