$prim-color: #99043b;
$dark-prim-color: #530320;
$hover-color: #530320;
$sec-color: rgb(10, 100, 251);

$black-color: #000;
$white-color: #fff;

$grey-color: #e5e5e5;
$dark-grey-color: #b7b7b7;

$dark-grey: #202124;
$darker-grey: #101114;
