$prim-color: #99043B;
$dark-prim-color: #530320;
$hover-color: #530320;
$sec-color: rgb(10, 100, 251);

$black-color: #000;
$white-color: #fff;

$grey-color: #E5E5E5;
$dark-grey-color: #B7B7B7;

$dark-grey:#202124;