@use "sass:math";

$page-width: 1000px;
$page-margin-top: 30px;

$footer-container-size: 1440px;
$footer-margin: 86px;
$footer-max-width: $footer-container-size + (2 * $footer-margin);

$breakpoint-mobile-s: 320px !default;
$breakpoint-mobile-m: 375px !default;
$breakpoint-mobile-l: 425px !default;
$breakpoint-tablet: 768px !default;
$breakpoint-laptop: 992px !default;
$breakpoint-desktop: 1200px !default;

$grid-columns-mobile: 4 !default;
$grid-columns-tablet: 9 !default;
$grid-columns-laptop: 12 !default;
$grid-columns-desktop: 12 !default;
$grid-gutter-base: 30px !default;
$grid-gutter-mobile: $grid-gutter-base !default;
$grid-gutter-tablet: $grid-gutter-base !default;
$grid-gutter-laptop: $grid-gutter-base !default;
$grid-gutter-desktop: $grid-gutter-base !default;
$grid-row-height: 40px !default;
$grid-container-margin-base: math.div($grid-gutter-base, 2) !default;
$grid-container-padding-base: 0px !default;
$grid-container-margin: $grid-container-margin-base !default;
$grid-container-margin-small: $grid-container-margin-base !default;
$grid-container-margin-big: $grid-container-margin-base !default;
$grid-container-padding: $grid-container-padding-base !default;
$grid-container-padding-small: $grid-container-padding-base !default;
$grid-container-padding-big: $grid-container-padding-base !default;
$grid-container-size: $breakpoint-desktop - 2 * $grid-container-margin !default;
$grid-container-size-small: 800px !default;
$grid-container-size-big: 1400px !default;
$grid-margin-0: 5px !default;
$grid-margin-1: 10px !default;
$grid-margin-2: 20px !default;
$grid-margin-3: 30px !default;
$grid-margin-4: 40px !default;
$grid-margin-5: 50px !default;
$grid-margin-6: 60px !default;
$grid-margin-7: 70px !default;
$grid-margin-8: 80px !default;
$grid-margin-9: 90px !default;
$grid-margin-10: 100px !default;
