$hb-width: 20px;
$hb-height: 3px;

.hb-menu {
  position: relative;
  width: $hb-width;
  height: $hb-height;
  background-color: $white-color;
  transition: $transition-settings;

  &:before,
  &:after {
    content: "";
    position: absolute;
    width: $hb-width;
    height: $hb-height;
    transition: $transition-settings;
    background-color: $white-color;
    left: 0;
  }

  &::before {
    transform: translateY(calc($hb-height * -2));
  }

  &::after {
    transform: translateY(calc($hb-height * 2));
  }

  .header--open & {
    background-color: transparent;

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}
