.hero {
  @include fullwidth;
  position: relative;
  height: 100vh;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white-color;

  &:after {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(0, 0, 0, 0.25) 0%,
      rgba(0, 0, 0, 0.75) 100%
    );
  }

  &__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    gap: 10px;
    max-width: 90%;

    .cta {
      margin-top: min(4vmin, 40px);
    }

    .logo {
      order: -1;
    }
  }

  &__image {
    position: absolute;
    inset: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}
