$page-padding-mobile:16px;
$page-padding-tablet:42px;
$page-padding-dektop:84px;
$header-height:70px;


.hero{
    @include responsive(margin-top, -$header-height, -$header-height);
    @include responsive(margin-left, -$page-padding-mobile, -$page-padding-tablet, -$page-padding-tablet, -$page-padding-dektop);
    @include responsive(margin-right, -$page-padding-mobile, -$page-padding-tablet, -$page-padding-tablet, -$page-padding-dektop);
    position: relative;
    height:100vh;
    height:100dvh;
    width: 100vw;
    width: 100dvw;
    @include breakpoint(1440px) {
        margin-left: -50vw;
        margin-left: -50dvw;
        margin-right: -50vw;
        margin-right: -50dvw;
        left: 50%;
        right: 50%;
      }

    display: flex;
    align-items: center;
    justify-content: center;
    color: $white-color;

    &:after{
        content: '';
        position: absolute;
        inset: 0;
        background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.45) 100%);
    }

    

    &__content{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        z-index: 1;
        gap: 10px;

        .logo{
            fill:$white-color;
            order: -1;
            width: 148px!important;
        }

        .cta{
            margin-top:40px;
        }
    }

    &__image{
        position: absolute;
        inset: 0;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    

    
}
