.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    // background-color: rgba($color: #111111, $alpha: .25);
    padding: 0 20px;
    position: sticky;
    z-index: 10;
    top: 0;
    transition: 300ms all;
    background-color: transparent;


    &--scrolled{
        background-color: $dark-grey;
    }
}

body:has(.page--form) .header{
    background-color: $dark-grey;
}