.header {
  @include header-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  transition: $transition-settings;
  background-color: $dark-grey;
  isolation: isolate;

  &--top {
    background-color: transparent;
  }

  &--admin {
    position: sticky;
    padding: 0 20px 0 0;

    @include laptop {
      padding: 0 20px;
    }
  }

  &--admin &__controller {
    transition: $transition-settings;
    display: flex;
    flex-shrink: 0;
    @include laptop {
      display: none;
    }
  }

  &--admin.header--open &__controller {
    transform: translateX(-52px);
    @include laptop {
      transform: translateX(0);
    }
  }

  @include mobile-only {
    padding: 0 0 0 20px;

    &--admin {
      padding: 0 20px 0 0;
    }
  }

  a {
    color: $white-color;
    z-index: 10;
  }

  .cta {
    width: unset;
  }

  &__controller {
    @include header-control;
    appearance: none;
    align-items: center;
    justify-content: center;
    display: none;
    border: none;
    background-color: $prim-color;
    color: $white-color;
    cursor: pointer;
    z-index: 10;

    @include mobile-only {
      display: flex;
    }
  }

  &--scrolled-top {
    background-color: transparent;

    // background-color: $dark-grey;
  }
}

body:has(.page--form) .header {
  background-color: $dark-grey;
}

.admin .header {
  background-color: $dark-grey;
}

.header {
  @include mobile-only {
    transition: $transition-settings;
    &--open + .page,
    &--open + .page + .footer {
      transform: translateX(-300px);
    }
  }
}
