.cm-blocks{
    display: flex;
    gap:10px;

    &__nav{
        display: flex;
        flex-direction: column;
        // justify-content: stretch;
        align-items: stretch;

        &-option{

            &--add{
                align-self: center;       
                border-radius: 50%;
                padding: 10px !important;         
            }
        }
    }

    &__display{
        width: 100%;
    }


}