@import "../../node_modules/microscope-sass/lib/typography";

$header-height-m: 70px;
$header-height-l: 70px;
$header-height-d: 70px;

$title-height-m: 32px;
$title-height-l: 36px;
$title-height-d: 42px;

$padding-display-m: 16px;
$padding-display-l: 16px;
$padding-display-d: 16px;

$padding-container-m: 16px * 2;
$padding-container-l: 16px * 2;
$padding-container-d: 16px * 2;

$total-offset-m: $header-height-m + $title-height-m + $padding-display-m +
  $padding-container-m;
$total-offset-l: $header-height-l + $title-height-l + $padding-display-l +
  $padding-container-l;
$total-offset-d: $header-height-d + $title-height-d + $padding-display-d +
  $padding-container-d;

.admin {
  width: 100%;
  display: flex;
  min-height: 100vh;
  min-height: 100dvh;
  height: 100%;
  // background-color: $sec-color;

  @include laptop {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  &__display {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 16px;
    max-width: 1080px;

    &--inbox {
      max-width: 100%;
    }

    .title {
      width: fit-content;
    }

    > section {
      width: 100%;
      margin-top: 1em;
    }

    &-notification {
      span {
        animation: fadeOut 1s ease forwards 500ms;
      }
    }
  }

  &__sidebar {
    transition: $transition-settings;
    background-color: $darker-grey;
    // height: 100vh;
    height: 100%;
    position: fixed;
    transform: translateX(-100%);
    width: min(100%, 300px);
    top: 0;
    color: $white-color;

    &--open {
      top: 0;
      left: 0;
      transform: translateX(0);
      overflow: scroll;
    }

    @include laptop {
      width: unset;
      max-width: unset;
      position: relative;
      transform: unset;
    }

    .logo {
      margin: 16px 0 16px 20px;
    }

    h1 {
      margin: 16px 0 25px 20px;
    }
  }

  &__content {
    transition: $transition-settings;
    width: 100%;
    background: $darker-grey;
    background: linear-gradient(
          to bottom,
          rgba(#000, 0.5) 50%,
          rgba($prim-color, 0.75)
        )
        50%,
      $darker-grey;
    color: $white-color;

    .cta {
      padding: 7px 15px;
    }

    @include laptop {
      transform: unset !important;
    }
  }

  &__option {
    @include body;
    @include body--small;

    height: unset;
    color: currentColor;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 14px 20px;
    border-left: 5px solid transparent;
    text-transform: uppercase;
    font-weight: 700;
    transition: $transition-settings;

    .icon {
      width: 20px;
      height: 20px;
    }

    &:hover {
      background-color: rgba($prim-color, 0.2);
      border-left: 5px solid rgba($prim-color, 0.5);
    }

    &:active {
      background-color: rgba($prim-color, 0.4);
      border-left: 5px solid rgba($prim-color, 0.7);
    }

    &--disabled {
      pointer-events: none;
      cursor: default;
      background-color: $dark-grey;
      border: $dark-grey;
      color: grey;

      &:hover {
        background-color: darkgrey;
      }
    }

    &--active {
      border-left: 5px solid $prim-color;
      background-color: rgba($prim-color, 0.1);
    }
  }

  .control__input {
    background-color: $dark-grey;
    color: currentColor;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
