.hero-container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  form {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .cta {
      width: 100%;
      max-width: unset;
    }
  }
}
