<section class="admin__sidebar">
    <%- include('../../components/logo/logo', {size: "small"}); %>
    <h1 class="title title--h1">Admin</h1>
    <%- include('./sidebar-nav', {adminpage: adminpage}); %>
</section>