<nav>
    <ul class="amdin__option-list">
        <li class="admin__option-item">
            <a href="/admin" class="admin__option <% if (adminpage == "dashboard") { %>admin__option--active<% } %>">
                <svg class="icon icon--home" viewBox="0 0 101 96" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M46.7109 1.26552C47.6289 0.450268 48.8141 0 50.0419 0C51.2697 0 52.4548 0.450268 53.3729 1.26552L98.5223 41.3983C99.4661 42.2948 100.024 43.5232 100.079 44.8237C100.134 46.1243 99.6815 47.3953 98.8166 48.3683C97.9518 49.3412 96.7427 49.9399 95.4446 50.0378C94.1466 50.1357 92.8613 49.7253 91.8602 48.8931L90.1747 47.4032V85.2785C90.1747 87.9394 89.1176 90.4914 87.236 92.373C85.3544 94.2546 82.8024 95.3117 80.1415 95.3117H19.9423C17.2813 95.3117 14.7294 94.2546 12.8478 92.373C10.9662 90.4914 9.90913 87.9394 9.90913 85.2785V47.4032L8.22355 48.8931C7.22253 49.7253 5.93724 50.1357 4.63919 50.0378C3.34114 49.9399 2.13198 49.3412 1.26715 48.3683C0.402321 47.3953 -0.0504548 46.1243 0.00447203 44.8237C0.0593988 43.5232 0.617727 42.2948 1.56151 41.3983L46.7109 1.26552ZM19.9423 38.4736V85.2785H34.9921V60.1955C34.9921 58.865 35.5206 57.589 36.4614 56.6482C37.4022 55.7074 38.6782 55.1789 40.0087 55.1789H60.0751C61.4056 55.1789 62.6816 55.7074 63.6224 56.6482C64.5631 57.589 65.0917 58.865 65.0917 60.1955V85.2785H80.1415V38.4786L50.0419 11.7251L19.9423 38.4786V38.4736ZM55.0585 85.2785V65.2121H45.0253V85.2785H55.0585Z" />
                </svg>
                Dashboard
            </a>
        </li>
        <li class="admin__option-item">
            <a href="/admin/hero" class="admin__option <% if (adminpage == "hero") { %>admin__option--active<% } %>">
                <svg class="icon icon--star" viewBox="0 0 101 96" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M50.0419 0C50.971 0.000496144 51.8815 0.259625 52.6717 0.748367C53.4618 1.23711 54.1002 1.93616 54.5155 2.76724L67.4259 28.5781L95.7989 32.7014C96.7231 32.8356 97.5914 33.2258 98.3054 33.8279C99.0194 34.4299 99.5507 35.2197 99.8391 36.108C100.128 36.9963 100.162 37.9475 99.9376 38.8542C99.7135 39.7609 99.2402 40.5867 98.5711 41.2383L77.9194 61.3746L82.5632 89.7676C82.7124 90.6867 82.6022 91.6292 82.2449 92.4891C81.8877 93.349 81.2976 94.0922 80.541 94.6351C79.7845 95.1779 78.8915 95.4989 77.9624 95.5619C77.0334 95.6249 76.1052 95.4275 75.2823 94.9918L50.0419 81.601L24.8015 94.9918C23.9786 95.4275 23.0504 95.6249 22.1213 95.5619C21.1923 95.4989 20.2993 95.1779 19.5427 94.6351C18.7862 94.0922 18.1961 93.349 17.8389 92.4891C17.4816 91.6292 17.3714 90.6867 17.5206 89.7676L22.1644 61.3746L1.51267 41.2383C0.843616 40.5867 0.370268 39.7609 0.146179 38.8542C-0.0779099 37.9475 -0.0437971 36.9963 0.244659 36.108C0.533115 35.2197 1.0644 34.4299 1.77841 33.8279C2.49243 33.2258 3.36067 32.8356 4.28491 32.7014L32.6578 28.5781L45.5683 2.76724C45.9836 1.93616 46.622 1.23711 47.4121 0.748367C48.2023 0.259625 49.1128 0.000496144 50.0419 0V0ZM50.0419 16.1931L40.4441 35.3886C40.0839 36.1105 39.5545 36.7346 38.9011 37.2077C38.2476 37.6809 37.4894 37.989 36.6911 38.1058L15.7542 41.1483L31.0165 56.0253C31.5933 56.5872 32.0259 57.28 32.2777 58.0449C32.5295 58.8098 32.5929 59.6242 32.4627 60.4188L29.0249 81.4208L47.695 71.5128C48.4177 71.129 49.2236 70.9283 50.0419 70.9283C50.8602 70.9283 51.6661 71.129 52.3888 71.5128L71.0589 81.4208L67.6211 60.4188C67.4917 59.625 67.5556 58.8116 67.8073 58.0476C68.0591 57.2837 68.4913 56.5917 69.0673 56.0303L84.3296 41.1483L63.3977 38.1058C62.5994 37.989 61.8412 37.6809 61.1877 37.2077C60.5343 36.7346 60.0048 36.1105 59.6447 35.3886L50.0419 16.1931Z" />
                </svg>
                Hero
            </a>
        </li>
        <li class="admin__option-item">
            <a href="/admin/info" class="admin__option <% if (adminpage == "info") { %>admin__option--active<% } %>">
                <svg class="icon icon--speaker" viewBox="0 0 101 101" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M77.5749 0.675081C78.3331 1.11512 78.9623 1.74658 79.3997 2.50624C79.837 3.26591 80.0671 4.12713 80.067 5.0037V25.0205C82.8833 25.0174 85.6684 25.6101 88.2394 26.7598C90.8104 27.9095 93.1091 29.59 94.9845 31.691C98.2726 35.3583 100.089 40.1117 100.084 45.0372C100.084 50.1615 98.1522 54.8454 94.9845 58.3834C93.1085 60.4837 90.8097 62.1637 88.2388 63.3133C85.668 64.4629 82.8832 65.0561 80.067 65.054V85.0707C80.0667 85.9471 79.8363 86.8079 79.3989 87.5673C78.9614 88.3266 78.3322 88.9577 77.5742 89.3975C76.8162 89.8373 75.9561 90.0703 75.0798 90.0733C74.2034 90.0762 73.3417 89.849 72.5808 89.4144L40.0335 70.8188V95.0791C40.0335 96.4063 39.5063 97.6791 38.5678 98.6176C37.6294 99.5561 36.3565 100.083 35.0293 100.083H15.0126C13.6854 100.083 12.4125 99.5561 11.4741 98.6176C10.5356 97.6791 10.0084 96.4063 10.0084 95.0791V70.0582C7.35399 70.0582 4.80832 69.0037 2.93139 67.1268C1.05445 65.2498 0 62.7042 0 60.0498V30.0247C0 27.3703 1.05445 24.8246 2.93139 22.9477C4.80832 21.0707 7.35399 20.0163 10.0084 20.0163H38.7024L72.5808 0.660068C73.3416 0.224996 74.2034 -0.00261203 75.0799 2.26154e-05C75.9563 0.00265727 76.8167 0.235442 77.5749 0.675081ZM40.0335 60.0498C40.9043 60.0503 41.7598 60.278 42.5156 60.7103L70.0586 76.4485V13.6259L42.5156 29.3641C41.7598 29.7965 40.9043 30.0242 40.0335 30.0247H10.0084V60.0498H40.0335ZM20.0168 70.0582V90.0749H30.0251V70.0582H20.0168ZM80.067 55.0456C83.0295 55.0456 85.6867 53.7645 87.5283 51.7078C89.1146 49.9363 90.0754 47.6044 90.0754 45.0372C90.0754 42.4701 89.1146 40.1381 87.5283 38.3666C86.5909 37.3148 85.4413 36.4736 84.1553 35.8983C82.8692 35.3229 81.4759 35.0266 80.067 35.0288V55.0456Z" />
                </svg>
                Info Blokken
            </a>
        </li>
        <li class="admin__option-item">
            <a href="/admin/coaches"
                class="admin__option <% if (adminpage == "coach") { %>admin__option--active<% } %>">
                <svg class="icon icon--user" viewBox="0 0 101 112" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M50.0419 11.1204C44.1433 11.1204 38.4862 13.4636 34.3152 17.6346C30.1443 21.8056 27.8011 27.4626 27.8011 33.3613C27.8011 39.2599 30.1443 44.917 34.3152 49.0879C38.4862 53.2589 44.1433 55.6021 50.0419 55.6021C55.9405 55.6021 61.5976 53.2589 65.7685 49.0879C69.9395 44.917 72.2827 39.2599 72.2827 33.3613C72.2827 27.4626 69.9395 21.8056 65.7685 17.6346C61.5976 13.4636 55.9405 11.1204 50.0419 11.1204ZM16.6806 33.3613C16.6806 24.5133 20.1955 16.0277 26.4519 9.77129C32.7084 3.51484 41.1939 0 50.0419 0C58.8899 0 67.3754 3.51484 73.6319 9.77129C79.8883 16.0277 83.4032 24.5133 83.4032 33.3613C83.4032 42.2092 79.8883 50.6948 73.6319 56.9512C67.3754 63.2077 58.8899 66.7225 50.0419 66.7225C41.1939 66.7225 32.7084 63.2077 26.4519 56.9512C20.1955 50.6948 16.6806 42.2092 16.6806 33.3613ZM27.8011 88.9634C23.3771 88.9634 19.1343 90.7208 16.0061 93.849C12.8778 96.9772 11.1204 101.22 11.1204 105.644C11.1204 107.119 10.5346 108.533 9.49187 109.576C8.44913 110.618 7.03487 111.204 5.56021 111.204C4.08555 111.204 2.67129 110.618 1.62855 109.576C0.585806 108.533 0 107.119 0 105.644C0 98.2707 2.92903 91.1994 8.14274 85.9857C13.3564 80.772 20.4278 77.8429 27.8011 77.8429H72.2827C79.656 77.8429 86.7273 80.772 91.9411 85.9857C97.1548 91.1994 100.084 98.2707 100.084 105.644C100.084 107.119 99.498 108.533 98.4552 109.576C97.4125 110.618 95.9982 111.204 94.5236 111.204C93.0489 111.204 91.6347 110.618 90.5919 109.576C89.5492 108.533 88.9634 107.119 88.9634 105.644C88.9634 101.22 87.206 96.9772 84.0777 93.849C80.9495 90.7208 76.7067 88.9634 72.2827 88.9634H27.8011Z" />
                </svg>
                De coaches
            </a>
        </li>
        <li class="admin__option-item">
            <a href="/admin/media" class="admin__option <% if (adminpage == "media") { %>admin__option--active<% } %>">
                <svg class="icon icon--camera" viewBox="0 0 101 81" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M31.4914 1.46623C32.4296 0.527696 33.7022 0.000283424 35.0293 0H65.0545C66.3815 0.000283424 67.6542 0.527696 68.5924 1.46623L77.1346 10.0084H90.0754C92.7298 10.0084 95.2755 11.0628 97.1524 12.9398C99.0293 14.8167 100.084 17.3624 100.084 20.0168V70.0587C100.084 72.713 99.0293 75.2587 97.1524 77.1356C95.2755 79.0126 92.7298 80.067 90.0754 80.067H10.0084C7.35399 80.067 4.80832 79.0126 2.93139 77.1356C1.05445 75.2587 0 72.713 0 70.0587V20.0168C0 17.3624 1.05445 14.8167 2.93139 12.9398C4.80832 11.0628 7.35399 10.0084 10.0084 10.0084H22.9492L31.4914 1.46623ZM37.1011 10.0084L28.5589 18.5505C27.6207 19.4891 26.348 20.0165 25.0209 20.0168H10.0084V70.0587H90.0754V20.0168H75.0628C73.7358 20.0165 72.4631 19.4891 71.5249 18.5505L62.9827 10.0084H37.1011ZM50.0419 32.5272C47.3875 32.5272 44.8418 33.5817 42.9649 35.4586C41.088 37.3356 40.0335 39.8812 40.0335 42.5356C40.0335 45.19 41.088 47.7357 42.9649 49.6126C44.8418 51.4895 47.3875 52.544 50.0419 52.544C52.6963 52.544 55.242 51.4895 57.1189 49.6126C58.9958 47.7357 60.0503 45.19 60.0503 42.5356C60.0503 39.8812 58.9958 37.3356 57.1189 35.4586C55.242 33.5817 52.6963 32.5272 50.0419 32.5272ZM30.0251 42.5356C30.0251 37.2268 32.134 32.1355 35.8879 28.3816C39.6418 24.6278 44.7331 22.5189 50.0419 22.5189C55.3507 22.5189 60.442 24.6278 64.1959 28.3816C67.9498 32.1355 70.0587 37.2268 70.0587 42.5356C70.0587 47.8444 67.9498 52.9357 64.1959 56.6896C60.442 60.4435 55.3507 62.5524 50.0419 62.5524C44.7331 62.5524 39.6418 60.4435 35.8879 56.6896C32.134 52.9357 30.0251 47.8444 30.0251 42.5356Z" />
                </svg>
                Mediabank
            </a>
        </li>
        
        <li class="admin__option-item">
            <a href="/admin/inschrijvingen"
                class="admin__option admin__option  <% if (adminpage == "inschrijf") { %>admin__option--active<% } %>">
                <svg class="icon icon--mail" viewBox="0 0 101 81" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 10.0084C0 7.35399 1.05445 4.80832 2.93139 2.93139C4.80832 1.05445 7.35399 0 10.0084 0H90.0754C92.7298 0 95.2755 1.05445 97.1524 2.93139C99.0293 4.80832 100.084 7.35399 100.084 10.0084V70.0587C100.084 72.713 99.0293 75.2587 97.1524 77.1356C95.2755 79.0126 92.7298 80.067 90.0754 80.067H10.0084C7.35399 80.067 4.80832 79.0126 2.93139 77.1356C1.05445 75.2587 0 72.713 0 70.0587V10.0084ZM17.6097 10.0084L50.0419 38.3871L82.4741 10.0084H17.6147H17.6097ZM90.0754 16.6589L53.3397 48.8059C52.4271 49.6054 51.2552 50.0462 50.0419 50.0462C48.8286 50.0462 47.6567 49.6054 46.7441 48.8059L10.0084 16.6589V70.0587H90.0754V16.6589Z" />
                </svg>
                Inbox
            </a>
        </li>
        <li class="admin__option-item">
            <a href="#"
                class="admin__option admin__option--disabled  <% if (adminpage == "lid") { %>admin__option--active<% } %>">
                <svg class="icon icon--user" viewBox="0 0 101 112" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M50.0419 11.1204C44.1433 11.1204 38.4862 13.4636 34.3152 17.6346C30.1443 21.8056 27.8011 27.4626 27.8011 33.3613C27.8011 39.2599 30.1443 44.917 34.3152 49.0879C38.4862 53.2589 44.1433 55.6021 50.0419 55.6021C55.9405 55.6021 61.5976 53.2589 65.7685 49.0879C69.9395 44.917 72.2827 39.2599 72.2827 33.3613C72.2827 27.4626 69.9395 21.8056 65.7685 17.6346C61.5976 13.4636 55.9405 11.1204 50.0419 11.1204ZM16.6806 33.3613C16.6806 24.5133 20.1955 16.0277 26.4519 9.77129C32.7084 3.51484 41.1939 0 50.0419 0C58.8899 0 67.3754 3.51484 73.6319 9.77129C79.8883 16.0277 83.4032 24.5133 83.4032 33.3613C83.4032 42.2092 79.8883 50.6948 73.6319 56.9512C67.3754 63.2077 58.8899 66.7225 50.0419 66.7225C41.1939 66.7225 32.7084 63.2077 26.4519 56.9512C20.1955 50.6948 16.6806 42.2092 16.6806 33.3613ZM27.8011 88.9634C23.3771 88.9634 19.1343 90.7208 16.0061 93.849C12.8778 96.9772 11.1204 101.22 11.1204 105.644C11.1204 107.119 10.5346 108.533 9.49187 109.576C8.44913 110.618 7.03487 111.204 5.56021 111.204C4.08555 111.204 2.67129 110.618 1.62855 109.576C0.585806 108.533 0 107.119 0 105.644C0 98.2707 2.92903 91.1994 8.14274 85.9857C13.3564 80.772 20.4278 77.8429 27.8011 77.8429H72.2827C79.656 77.8429 86.7273 80.772 91.9411 85.9857C97.1548 91.1994 100.084 98.2707 100.084 105.644C100.084 107.119 99.498 108.533 98.4552 109.576C97.4125 110.618 95.9982 111.204 94.5236 111.204C93.0489 111.204 91.6347 110.618 90.5919 109.576C89.5492 108.533 88.9634 107.119 88.9634 105.644C88.9634 101.22 87.206 96.9772 84.0777 93.849C80.9495 90.7208 76.7067 88.9634 72.2827 88.9634H27.8011Z" />
                </svg>
                Leden
            </a>
        </li>
        <li class="admin__option-item">
            <a href="/admin/gebruikers"
                class="admin__option admin__option--disabled  <% if (adminpage == "gebruiker") { %>admin__option--active<% } %>">
                <svg class="icon icon--eye" viewBox="0 0 101 71" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M65.0552 35.0314C65.0552 39.0132 63.4734 42.8319 60.6579 45.6475C57.8423 48.463 54.0236 50.0448 50.0418 50.0448C46.06 50.0448 42.2413 48.463 39.4258 45.6475C36.6102 42.8319 35.0284 39.0132 35.0284 35.0314C35.0284 31.0496 36.6102 27.2309 39.4258 24.4154C42.2413 21.5998 46.06 20.0181 50.0418 20.0181C54.0236 20.0181 57.8423 21.5998 60.6579 24.4154C63.4734 27.2309 65.0552 31.0496 65.0552 35.0314Z" />
                    <path
                        d="M99.556 32.7942C88.7564 11.19 69.5793 0 50.0419 0C30.5095 0 11.3274 11.19 0.527799 32.7942C0.180698 33.4888 0 34.2547 0 35.0312C0 35.8077 0.180698 36.5736 0.527799 37.2682C11.3274 58.8724 30.5045 70.0624 50.0419 70.0624C69.5743 70.0624 88.7564 58.8724 99.556 37.2682C99.9031 36.5736 100.084 35.8077 100.084 35.0312C100.084 34.2547 99.9031 33.4888 99.556 32.7942ZM50.0419 60.0535C35.1837 60.0535 20.0051 51.9463 10.6568 35.0312C20.0051 18.1161 35.1787 10.0089 50.0419 10.0089C64.9001 10.0089 80.0787 18.1161 89.427 35.0312C80.0787 51.9463 64.9001 60.0535 50.0419 60.0535Z">
                </svg>
                Gebruikers
            </a>
        </li>
    </ul>
</nav>