<!DOCTYPE html>
<html lang="nl">
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body class="index">
    <main class="page">
      <section>
        <% if (messages.error) { %>
        <p><%= messages.error%></p>
        <%}%>
        <form
          method="POST"
          class="auth"
          action="/login"
          style="display: flex; flex-direction: column; max-width: 280px">
          <!-- prettier-ignore -->
          <%- include('../components/control/control' , {type: "text", name: "email", placeholder:"Email", required:true, label: "Email", width:"fw" }); %> 
          <%- include('../components/control/control' , {type: "password", name: "password", placeholder:"Wachtwoord", required:true, label: "Wachtwoord", width:"fw" }); %>
          <button value="login" type="submit">Login</button>
        </form>
        <a href="/new-admin">Geen account?</a>
      </section>
    </main>

    <script src="../dist/scripts/main.js"></script>
  </body>
</html>
