<!DOCTYPE html>
<html lang="nl">
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body>
    <main class="newadmin">
      <section class="admin__container"></section>
    </main>

    <script src="../dist/scripts/main.js"></script>
  </body>
</html>
