<!DOCTYPE html>
<html lang="nl">

<head>
    <%- include('../../partials/head'); %>
</head>

<body class="index">
    <%- include('../../partials/header-admin'); %>
    <main class="admin page">
        <h1 class="title title--h1">Westerkracht coaches</h1>
        <section class="coaches-container"></section>
    </main>
    <script src="../dist/scripts/main.js"></script>
</body>

</html>