<!DOCTYPE html>
<html lang="nl">
  <head>
    <%- include('../../partials/head'); %>
  </head>

  <body>
    <main class="admin">
      <%- include('../../components/sidebar/admin-sidebar', {adminpage:
      "info"}); %>
      <section class="admin__content">
        <% if (typeof user != "undefined") { %> <%-
        include('../../partials/header-admin', {user:user}); %> <% } else { %>
        <%- include('../../partials/header-admin', {user:undefined}); %> <% } %>
        <section class="admin__display">
          <h2 class="title title--h2">Info Blokken</h2>
          <p class="admin__display-notification" data-notification></p>
          <section class="infoblokken-container">
            <div class="icon icon--loading"></div>
          </section>
        </section>
      </section>
    </main>

    <script src="../dist/scripts/main.js"></script>
  </body>
</html>
