<!DOCTYPE html>
<html lang="nl">

<head>
    <%- include('../../partials/head'); %>
</head>

<body class="index">
    <%- include('../../partials/header-admin'); %>
    <main class="page admin">
        <h1 class="title title--h1">Mediabank</h1>
        <section class="mediabank-container"></section>
    </main>

    <script type="module" src="../dist/scripts/main.js"></script>
    <!-- <script src='https://stefanradouane.github.io/vidplayer/index.js'></script> -->
</body>

</html>