.cta{
    @include body;
    display: block;
    padding:17px 25px;
    background-color: $prim-color;
    transition: $transition-settings;
    color: $white-color;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border: none;

    &:hover{
        background-color: $hover-color;
    }
}