.icon {
  display: block;
  fill: currentColor;
  width: fit-content;
  height: fit-content;
  height: 30px;
  pointer-events: none;

  &--user {
    width: fit-content;
  }

  &--social {
    fill: $prim-color;
  }

  &--loading {
    width: 30px;
    aspect-ratio: 1/1;
    border: 4px solid $prim-color;
    border-bottom-color: transparent;
    animation: rotate 1s linear infinite;
    border-radius: 50%;
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
