.icon {
  display: block;
  fill: inherit;
  width: fit-content;
  height: fit-content;
  height: 30px;
  pointer-events: none;

  &--user {
    width: fit-content;
  }

  &--social {
    fill: $prim-color;
  }
}
