@import "../../node_modules/microscope-sass/lib/typography";

$color: $prim-color;
$border: 1px solid $color;

.datagrid {
  height: 100%;
  // background-color: $darker-grey;

  & .MuiDataGrid-root {
    color: currentColor;
    height: 50vmin;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: $border;

    & .MuiDataGrid-columnSeparator {
      color: $color;
    }

    & .MuiDataGrid-footerContainer {
      border-top: $border;
    }

    & .MuiDataGrid-cell {
      border-bottom: $border;
    }

    & .MuiDataGrid-columnHeaders {
      border-bottom: $border;
    }

    & .MuiDataGrid-selectedRowCount {
      visibility: hidden;
      opacity: 0;
      margin: 0 !important;
    }

    & .MuiTablePagination-actions {
      @include responsive(margin-left, 10px, 10px, 20px);

      button {
        @include responsive(padding, 6px, 6px, 8px);
      }
    }

    .MuiTablePagination-root {
      color: currentColor;

      * {
        font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
      }

      .MuiSvgIcon-root {
        color: currentColor;
      }
    }

    & .rowcount {
      margin-left: 16px;
      order: -1;
      max-width: calc(100% - 140px);
      height: 1lh;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
