.nav {
  display: flex;
  align-items: center;
  height: 100%;

  @include mobile-only {
    transition: $transition-settings;
    transform: translateX(100%);
    position: fixed;
    inset: 52px 0 0;
    background-color: $dark-grey;

    &--open {
      transform: translateX(0);
    }

    &__list {
      flex-direction: column;

      &-item {
        height: unset !important;
      }
    }
  }

  &__list {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 30px;

    &-item {
      color: white;
      font-weight: bold;
      height: 100%;
      display: flex;
      align-items: center;
      border-top: 6px solid transparent;

      &--active {
        border-top: 6px solid $white-color;
      }

      a {
        @include responsive(font-size, 12px, 14px, 16px, 18px);
        @include responsive(line-height, 20px, 22px, 24px, 26px);
        text-transform: uppercase;
        text-decoration: none;
      }
    }
  }
}
